/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* Fix for the calendar */
.entry-content td,
.comment-content td {
	border-top: 1px solid #ddd;
	padding: 0px 0px 0px 0;
}

.fc h2 {
	color: #636363;
	background-color: transparent;
}